
:root{
  --bod-bgcolor :greenyellow;
  --bod-color : black;
  --heading : white;
  --bn-color : yellow;
}
body {
  min-height: 40vh;
  background: var(--bod-bgcolor);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--bod-color);
  padding-right: 10rem;
}
.heading {
  margin-bottom: 60px;
  margin-left: 100px;
  color: var(--heading);
}
.flex-container {
  display: flex;
  padding-left: 80px;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 50px;
}

.bn{
  background-color: var(--bn-color);
  box-shadow:  0px 0px 30px rgb(17, 14, 14);
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

#btnimg {
  border: 5px solid rgb(18, 26, 18);
  box-shadow: 0px 0px 30px rgb(17, 14, 14);
  height: 400px;
  width: 400px;
}
#firstHeading {
  font-size: 4rem;
  font-family:cursive;
  justify-content: center;
  text-align: center;
  color: rgb(27, 11, 11);
  text-shadow: 3px 3px 10px grey;
  
}


